body {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

section#menu {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 24px 18px;
    z-index: 999;
}

button {
    height: fit-content;
    font-family: inherit;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    display: inline-flex;
    padding: 12px 11px;
    border-radius: 4px;
    border: 1px solid var(--gray-300, #D1D5DB);
    background: var(--white, #FFF);
    cursor: pointer;

    /* shadow/sm */
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

input#color-picker {
    width: 61px;
    height: 42px;
    flex-shrink: 0;
    border: 0.5px solid #D1D5DB;
    background: #E5E5E5;
}

section#colors {
    display: flex;
    width: fit-content;
    margin: auto; 
}

section#colors > div {
    width: 110px;
    height: 550px;
    box-shadow: 0px 32px 11px -32px rgba(0, 0, 0, 0.25) inset;
    position: relative;
}

section#colors > div > p {
    display: flex;
    background-color: white;
    padding: 12px 0px;
    margin-left: -4px;
    justify-content: center;
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    width: 104%;
    bottom: -10%;
}

section#colors > div > p > span {
    cursor: pointer;
}

#color-1 {
    background-color: #F55A5A;;
}

#color-2 {
    background-color: #2B283A;;
}

#color-3 {
    background-color: #FBF3AB;
}

#color-4 {
    background-color: #AAD1B6;
}

#color-5 {
    background-color: #A626D3;
}

#clipboard-message {
    font-size: 12px;
    width: 105%;
    position: absolute;
    left: -10%;
    bottom: -18%;
    border: 1px rgba(0, 0, 0, 0.25) solid;
    padding: 12px 8px;
    border-radius: 4px;
}

#clipboard-message::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent rgba(0, 0, 0, 0.25) transparent;
}